
html, body {
  height:100%;
}

#root {
  height:100%;
}

/*
.content {
  display: flex;
  margin-top: 40px;
  width: 80%;
  min-width: 900px;
  height: 50%;
  min-height: 500px;
  background-color: #141d26;
  border: 1px solid rgb(20, 30, 49);
  border-radius: 1%;
  box-shadow: 2px 5px 18px 1px rgb(20, 32, 54);
  justify-content: center;
}
*/